.movies__form {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.movies__form fieldset {
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 1px dashed var(--color-gray);
  padding: 2rem 1rem;
}

.inputImages {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  padding: 1rem;
}

.inputImages form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 40%;
}

.poster__container {
  width: 20rem;
}

.stills__container {
  width: 50%;
}
